__pycache__

**/Dataset/**
!**/Dataset/*.yaml

**/TrainedModels/**
!**/TrainedModels/*.yaml

**/wandb

src/Debugging
src/Demos/Scenes/varyingCube_scene.py
src/multi_train.py
src/multi_test.py

**/Train_scripts/**
**/Test_scripts/**